%head
  = javascript_include_tag "application"
%div
  .spacer
    .transcript
      %button.hocr_toggle See the invisible
      .nav-bar
        %ul
          %li.general.active General
          %li.letter Initial Letter
          %li.bill Bill
          %li.affidavit Affidavit
          %li.testimony Testimony
          %li.report Examiner's Report

      .form-div
        %form{:action=>"/claims/#{params[:id]}", :method=>"post"}
          =render :partial => "general"
          =render :partial => "letter"
          =render :partial => "bill"
          =render :partial => "affidavit"
          =render :partial => "testimony"
          =render :partial => "examiners_report"

          - form_authenticity_token
          %input{:name=>"authenticity_token", :type=>"hidden", :value=>form_authenticity_token} 

          %button{:type=>"submit", :value=>"submit"} Transcribe!
      %br
      %a{:href=>"/"} home.
        
  .transcribe-image-holder
    - Claim.find(params[:id]).hocr_layers.each do |current_hocr|
      %div{:class=>"page-img #{current_hocr.filename}"}
        = render :file => "/hocr_files/_p#{current_hocr.filename}_hocr"
